@import url("./default.css");

body {
    text-align:                 center;
    font-family:                'Open Sans', sans-serif;
    background:                 black;
}

body header {
    color:                      grey;
}

body section {
    display:                    block;  
    background:                 grey;
    margin:                     20%;
    text-align:                 center;
    border-radius:              3em;
    padding:                    5%;
}
body section article p{
    display:                    inline;
}
footer p{
    background:                 grey;
}
